html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --background-color: #fff;
  --alternative-background-color: #0b485b;
  --footer-background-color: #19c1ce;
  --main-text-color: #212429;
  --alternative-color: #07e5eb;
  --alternative-text-color: #7e8a98;
  --yellow-button: #f2bf4e;
  --border-color: #cfd3d8;
  --emphasis-text-blue: #19c1ce;
  --color-white: #fff;
}

body {
  font-family: "Nunito Sans", sans-serif;

  padding: 0;
  border: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 1.6rem;
}

a {
  all: unset;

  cursor: pointer;
}

button {
  all: unset;

  cursor: pointer;

  font-weight: 800;
  font-size: 1.4rem;
  line-height: 140%;

  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-family: "Darker Grotesque", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;

  align-items: center;

  padding: 2.4rem 10.8rem;

  border-bottom: 1px solid var(--border-color);
}

.header_logo {
  width: 17.4rem;
  height: 3.2rem;
}

.header_nav {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.header_nav a {
  margin-left: 6.4rem;
}

.header_buttons {
  margin-left: 6rem;
}

.button-white {
  padding: 0.8rem 1.6rem;

  outline: 2px solid var(--main-text-color);
}

.button-blue {
  padding: 0.8rem 1.6rem;

  background-color: var(--footer-background-color);
  outline: 2px solid var(--footer-background-color);

  margin-left: 1.6rem;
}

.hero_section {
  display: flex;

  flex-wrap: wrap;

  padding: 12rem 18rem;

  background: linear-gradient(40deg, #f1f3f5 72%, #fff 40%);
}

.hero_section-left {
  max-width: 60rem;

  font-family: "Darker Grotesque";
}

.hero_section-left span {
  font-weight: 900;
  color: var(--emphasis-text-blue);
}

.hero_section-left h1 {
  font-size: 5.6rem;
}

.hero_section-left p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 2rem;
}

.hero_footer {
  padding: 12rem 18rem;

  color: var(--color-white);

  background: linear-gradient(150deg, #f1f3f5 10%, #0b485b 10%);
}

.hero_footer-left {
  max-width: 60rem;
}

.hero_footer-left h2 {
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 3.2rem;
}

.hero_footer-left p {
  font-family: "Nunito Sans";

  font-weight: 400;
}

.hero_footer-left span {
  font-weight: 700;
}

.hero_footer-left p:last-child {
  font-weight: 700;
}
