html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --background-color: #fff;
  --alternative-background-color: #0b485b;
  --footer-background-color: #19c1ce;
  --main-text-color: #212429;
  --alternative-color: #07e5eb;
  --alternative-text-color: #7e8a98;
  --yellow-button: #f2bf4e;
  --border-color: #cfd3d8;
  --emphasis-text-blue: #19c1ce;
  --color-white: #fff;
  --color-grey: #f1f3f5;
}

body {
  font-family: "Nunito Sans", sans-serif;

  padding: 0;
  border: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 1.6rem;
}

a {
  all: unset;

  cursor: pointer;
}

button {
  all: unset;

  cursor: pointer;

  font-weight: 800;
  font-size: 1.4rem;
  line-height: 140%;

  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.button-yellow {
  max-width: 25rem;
  padding: 0.8rem 2.4rem;

  color: var(--main-text-color);

  align-self: center;
  background-color: var(--yellow-button);
}

.button-white {
  padding: 0.8rem 1.6rem;

  outline: 2px solid var(--main-text-color);
}

.button-blue {
  padding: 0.8rem 1.6rem;

  background-color: var(--footer-background-color);
  outline: 2px solid var(--footer-background-color);

  margin-left: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Darker Grotesque", sans-serif;
}

.container_padding {
  padding: 12rem 18rem;
}

.header {
  display: flex;
  justify-content: space-between;

  align-items: center;

  padding: 2.4rem 10.8rem;

  border-bottom: 1px solid var(--border-color);
}

.header_logo {
  width: 17.4rem;
  height: 3.2rem;
}

.header_nav {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.header_nav a {
  margin-left: 6.4rem;
}

.header_buttons {
  margin-left: 6rem;
}

.hero_section {
  display: flex;

  flex-wrap: wrap;

  background: linear-gradient(40deg, #f1f3f5 72%, #fff 40%);
}

.hero_section-left {
  max-width: 60rem;

  font-family: "Darker Grotesque";
}

.hero_section-left span {
  font-weight: 900;
  color: var(--emphasis-text-blue);
}

.hero_section-left h1 {
  font-size: 5.6rem;
}

.hero_section-left p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 2rem;
}

.hero_footer {
  color: var(--color-white);

  background: linear-gradient(150deg, #f1f3f5 10%, #0b485b 10%);
}

.hero_footer-left {
  max-width: 60rem;
}

.hero_footer-left h2 {
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 3.2rem;
}

.hero_footer-left p {
  font-family: "Nunito Sans";

  font-weight: 400;
}

.hero_footer-left span {
  font-weight: 700;
}

.hero_footer-left p:last-child {
  font-weight: 700;
}

.results {
  display: flex;
  justify-content: space-between;

  background: linear-gradient(-140deg, #f1f3f5 65%, #fff 40%);
}

.results h2 {
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 3.2rem;
}

.results p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 2rem;
}

.results-right {
  width: 49rem;
}

.results-items {
  display: flex;

  gap: 1.6rem;

  align-items: center;
}

.results-items img {
  width: 2.5rem;
  height: 2.5rem;

  margin-top: -1rem;
}

.results-items p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 1.6rem;
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.features h2 {
  max-width: 60rem;
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 4rem;
}

.features-card {
  max-width: 39rem;
  height: 39rem;

  background: var(--background-color);

  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);

  border-radius: 2px;

  padding: 2.4rem;
}

.features-card h3 {
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 3.2rem;
}

.features-card p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 1.6rem;
}

.features-card img {
  width: 5rem;
  background-color: #f1f3f5;

  background-size: 10rem;

  border-radius: 50%;
}

.create-account-items {
  max-width: 100%;

  color: var(--color-white);

  background-image: url(./assets/images/graphs.png);
  background-repeat: no-repeat;
  background-position: 20%;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  padding: 8rem 20rem;
}

.create-account-items h2 {
  font-family: "Darker Grotesque";

  max-width: 60rem;
  align-self: center;

  font-weight: 900;
  font-size: 4rem;
}

.create-account-items p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 1.6rem;

  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

.demonstration {
  max-width: 90vw;

  display: flex;
  align-items: center;
  gap: 2rem;

  padding-top: 0;
  padding-bottom: 0;

  height: 31rem;
  background: linear-gradient(90deg, #f1f3f5 88%, #fff 12%);
}

.demonstration h2 {
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 3.2rem;
}

.demonstration button {
  display: flex;
  align-items: center;

  border: 2px solid var(--main-text-color);

  padding: 0.8rem 1.6rem;
}
