@media (max-width: 682px) {
  .buttons-header {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 0;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 57px;
    right: 0px;
    background: var(--background-color);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--emphasis-text-blue);
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .header {
    padding: 2rem 1rem;
  }

  .logo {
    width: 13rem;
    height: 2.5rem;
  }

  .button-form {
    width: 85%;
  }

  .hero_section-left h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 100%;
    word-break: normal;
  }

  .hero_section-left p {
    font-size: 1.6rem;
    line-height: 150%;
  }

  .container_padding {
    padding: 4rem 1rem;
  }

  .form-container {
    position: inherit;
    margin-top: 1rem;

    max-width: 36.3rem;

    padding: 1rem;
  }

  .results img {
    max-width: 34rem;
  }

  .demonstration {
    background: linear-gradient(90deg, #f1f3f5 100%, #fff 0%);
  }

  .results-left {
    order: 2;
  }

  .results-right {
    order: 1;
  }

  .create-account-items {
    padding: 1rem 1rem;
  }

  .create-account-items h2 {
    font-size: 3.2rem;
  }

  .create-account-items button {
    margin-bottom: 3rem;
  }

  .thumbnail {
    width: 32rem;
    margin-bottom: 4rem;
  }

  .demonstration {
    flex-wrap: wrap;
  }

  .frameworks {
    margin-top: 5rem;
  }

  .iframe {
    min-width: 28rem;
    height: 18rem;

    margin-top: 2rem;
  }

  .modal-content {
    margin: 15rem auto;
  }

  .frameworks-right {
    display: flex;
    justify-content: space-around;
  }

  .frameworks-right-item {
    width: 10rem;
  }

  .frameworks div:first-child {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 4rem 1.6rem;
    align-items: center;
  }

  .footer-top {
    align-items: center;
  }

  .footer-bottom div:first-child {
    display: none;
  }

  .footer-bottom div:last-child {
    margin: auto;
  }

  .button-password {
    left: 28rem;
  }

  .button-password-confirm {
    right: 20%;
  }
}
